@font-face {
  font-family: 'iconfont';  /* project id 2361677 */
  src: url('//at.alicdn.com/t/font_2361677_fzq5wdwm11m.eot');
  src: url('//at.alicdn.com/t/font_2361677_fzq5wdwm11m.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2361677_fzq5wdwm11m.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2361677_fzq5wdwm11m.woff') format('woff'),
  url('//at.alicdn.com/t/font_2361677_fzq5wdwm11m.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2361677_fzq5wdwm11m.svg#iconfont') format('svg');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  