$content-fontcolor: #333;
$content-bgcolor: #f1f1f1;
<<<<<<< HEAD
$content-notice-fontcoloer: #777;
$search-bgcolor: #f5f5f5;
$search-fontcolor: #b7b7b7;
$white-bgcolor: #fff;
$highlight-fontcolor: #E93b3b;
=======
$content-notice-fontcoloer: #777;
>>>>>>> origin/master
